<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>查看所有帖子！</title>
<link rel='stylesheet' href='__PUBLIC__/Css/public.css'>
</head>
<body>
<table class='table1' border='1'>
<tr>
		<th>id</th>
		<th>用户</th>
		<th>内容</th>
		<th>发布时间</th>
		<th>操作</th>
</tr>
	<foreach name='wish' item='v'>
		<tr>
			<td>{$v.id}</td>
			<td>{$v.username}</td>
			<td>{$v.content|replace_phiz=###}</td>
			<td>{$v.time|date='Y-m-d H:i',###}</td>
			<td>
			<a href="{:U('Admin/MsgManag/delete',array('id'=>$v['id']))}">删除</a>
			</td>
		</tr>
	</foreach>
	<tr>
	<td colspan='5' align='center'>
	<div class='page'>
	{$page}
	</div>
	</td>
	</tr>
</table>
</body>
</html>